<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>652942089068-s62gllo09tpr6spgikuvu9tit1jdjqbs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652942089068-s62gllo09tpr6spgikuvu9tit1jdjqbs</string>
	<key>API_KEY</key>
	<string>AIzaSyBnv4X76REyKJkPByP7nGro2lo5DAjAJI0</string>
	<key>GCM_SENDER_ID</key>
	<string>652942089068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lc.Social</string>
	<key>PROJECT_ID</key>
	<string>social-cfde2</string>
	<key>STORAGE_BUCKET</key>
	<string>social-cfde2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:652942089068:ios:d88198c521b7e864</string>
	<key>DATABASE_URL</key>
	<string>https://social-cfde2.firebaseio.com</string>
</dict>
</plist>